.body-content {
    height: 100vh;
    overflow: hidden;
}

#root {
    height:100%;
}

    #root > div > .container {
        height: 100vh;
    }


        #root .container .app-note-list, #root .container .app-note-detail {
            height: calc(100vh - 142px);
        }

            #root .container .app-note-list > .container, #root .container > .app-note-detail {
                border-top: 1px solid #ff5a1d;
                padding-top: 5px;
                overflow: scroll;
                height: 100%;
            }

.app-note-list-item{

}

    .app-note-list-item .col {
        border-bottom: 1px #CCC solid;
        padding-bottom: 10px;
    }

    .app-note-list-item .app-customer-label {
        font-weight: bold;
        color: #555;
    }

.app-toolbar-wrapper{
    padding:0px;
}

.navbar .nav-link[class*="icon-"] {
    font-size: 1.6em;
    padding: 0;
    color: #FFF;
}


/*#ff5a1d*/
.suggestion-container {
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    left: 0;
    right: 0;
    border: 1px solid #CCC;
    border-radius: 4px;
    max-height: 500px;
    overflow-y: scroll;
}

    .suggestion-container .container > .row {
        padding: 9px 5px;
        cursor: pointer;
    }

    .suggestion-container .label {
        color: #666;
        font-size: 0.9em;
        border-bottom: 1px solid #EEE;
    }

    .suggestion-container .add-tag {
        border-top: 1px solid #ddd;
        color: #ff5a1d;
        font-weight: bold;
    }

    .suggestion-container .add-tag span{

    }


.app-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

    .app-modal > .container {
        background-color: transparent;
        padding: 0 20vw;
    }

.container.app-modal-content {
    border: 1px solid #CCC;
    border-radius: 6px;
    background-color: #FFF;
}


.app-modal-content .row {
    margin: 10px auto;
}